<template>
  <div class="container">
    <van-row>
      <van-col span="5"></van-col>
      <van-col span="14">
        <div class="title">
          <img src="@/assets/image/sign_up_gift_give.png">
        </div>
      </van-col>
      <van-col span="5"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="card">
          <div class="_box">
            <van-row>
              <van-col span="24">
                <div class="tag">
                  <img src="@/assets/image/gift_benefits.png">
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="4"></van-col>
              <van-col span="16">
                <div>
                  <img src="@/assets/image/vip.png">
                </div>
              </van-col>
              <van-col span="4"></van-col>
            </van-row>
            <van-row>
              <van-col span="2"></van-col>
              <van-col span="20">
                <div style="text-align: left;">
                  <p>
                    根据规则开团，达到相应拼团人数为拼团成功，即可享受相应优惠。会有校区专业课程顾问老师主动联系家长排课。每节课1.5小时。
                    <br>若口碑家长报名呱奇课程，双方均可享受校区转介绍政策。双方均可送2次课，会员赠送100元永旺超市购物卡。
                    <br>活动起止时间：2023年6月1-6月30日
                    <br>科目类别: 乐高搭建、少儿编程
                  </p>
                  <p style="color:red;">每位家长只可参与一次，多次购买不能重复使用，课包一经售卖，概不退款</p>
                </div>
              </van-col>
              <van-col span="2"></van-col>
            </van-row>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
} from 'vant';

export default {
  name: 'CourseBenefits',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
  }
}
</script>