<template>
  <div class="container product">
    <van-row>
      <van-col span="8"></van-col>
      <van-col span="8"></van-col>
      <van-col span="8">
        <div class="logo">
          <img src="@/assets/image/logo.png">
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="6"></van-col>
      <van-col span="12">
        <div>
          <img src="@/assets/image/title.png">
        </div>
      </van-col>
      <van-col span="6"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="form_card">
          <van-form @submit="onSubmit">
            <van-row style="border-bottom: 1px dashed #f7f7f7;">
              <van-col span="8">
                <van-image
                  width="100"
                  height="100"
                  src="https://fastly.jsdelivr.net/npm/@vant/assets/cat.jpeg"
                />
              </van-col>
              <van-col span="16">
                <div class="class-text">
                  <div>
                    <h4>团购价￥{{amount}}</h4>
                  </div>
                  <div>已选择：{{selectedVal}}</div>
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="24">
                <van-cell-group inset>
                  <van-field
                    v-model="form.username"
                    name="username"
                    label="学员姓名"
                    placeholder="学员姓名"
                    maxlength="4"
                    :rules="[{ required: true, message: '请填写学员姓名' },
                    { pattern: /^[\u4e00-\u9fa5]{2,4}$/, message: '请输入正确姓名' }]"
                  />
                  <van-field
                    v-model="form.phone"
                    type="number"
                    name="phone"
                    label="手机号"
                    placeholder="手机号"
                    maxlength="11"
                    :rules="[{ required: true, message: '请填写手机号' },
                    { pattern: /^1[3456789]\d{9}$/, message: '手机号格式错误' }]"
                    @blur="verifyIdentity"
                  />
                  <van-field
                    v-if="isShow"
                    v-model="form.teacher"
                    name="teacher"
                    label="带班老师"
                    placeholder="带班老师"
                    :rules="[{ required: true, message: '请填写带班老师' }]"
                  />
                </van-cell-group>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="24">
                <div class="sub-card">
                  <h1>活动套餐：</h1>
                  <span v-if="groupGuid">
                    <div
                      :class="selectedVal != item.content ? '_box' : '_box active'"
                      v-show="(groupNum == item.num) || (groupNum == 0)"
                      v-for="(item,index) in activtiyList"
                      :key="index"
                      @click="handleClick(item)"
                    >{{item.content}}</div>
                  </span>
                  <span v-else>
                    <div
                      :class="selectedVal != item.content ? '_box' : '_box active'"
                      v-for="(item,index) in activtiyList"
                      :key="index"
                      @click="handleClick(item)"
                    >{{item.content}}</div>
                  </span>
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="24">
                <van-button
                  block
                  :loading="loading"
                  :disabled="isDisabled"
                  type="success"
                  native-type="submit"
                >{{btnText}}￥{{amount}}</van-button>
              </van-col>
            </van-row>
          </van-form>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  NavBar,
  Button,
  Toast,
  Image as VanImage,
  Col,
  Row,
  Form,
  Field,
  CellGroup,
  Dialog
} from 'vant';
import {
  getGroupKey,
  payOrder,
  getGuaQiLog,
  getGroupKeyNumber} from '@/api/user';

export default {
  name: 'HomeView',
  components: {
    [NavBar.name]: NavBar,
    [Button.name]: Button,
    [VanImage.name]: VanImage,
    [Col.name]: Col,
    [Row.name]: Row,
    [Form.name]: Form,
    [Field.name]: Field,
    [CellGroup.name]: CellGroup,
  },
  data () {
    return {
      campus: '武胜校区',
      loading: false,
      isShow: false,
      isDisabled: false,
      activtiyList: [
        {
          id: 1,
          content: '三人成团199 双方均可得2节价值400元正式课 拼团成功 团长可得续费优惠券500元',
          amount: '199.00',
          num: 3
        },
        {
          id: 2,
          content: '五人成团99 五人均可得2节价值400元正式课 拼团成功 团长可得续费优惠券500元',
          amount: '99.00',
          num: 5
        }
      ],
      form: {
        activtiy: "",
        username: "",
        phone: "",
        teacher: ""
      },
      amount: '0.00',
      selectedVal: '',
      groupNum: 0,
      groupGuid: "",
      btnText: '立即开团'
    }
  },
  mounted () {
    let query = this.$route.query;
    this.groupGuid = query.key;

    this.code = sessionStorage.getItem('code');
    if (!this.code) { // 路由至首页重新授权
      sessionStorage.setItem('groupGuid', this.groupGuid);
      this.$router.push('/');
    } else {
      if (this.groupGuid || sessionStorage.getItem('groupGuid')) {
        this.groupGuid = sessionStorage.getItem('groupGuid') ? sessionStorage.getItem('groupGuid') : this.groupGuid;
        this.getGroupKeyNumber(this.groupGuid);
      }
    }
  },
  methods: {
    // 根据邀请key查看用户信息
    getGroupKeyNumber (key) {
      getGroupKeyNumber({
        GroupGuid: key
      }).then(res => {
        if (res.data.code === '0000') {
          let data = res.data.data;
          this.groupNum = data.groupNumber;
        } else {
          Toast(res.data.message)
        }
      }).catch(err => {
        Toast('接口请求异常：' + err);
      })
    },
    // 获取活动参与人数/浏览量
    getGuaQiLog () {
      getGuaQiLog({
        Number: 1
      }).then(res => {
        if (res.data.code === '0000') {
          // request success
        } else {
          Toast(res.data.message);
        }
      }).catch(err => {
        Toast('接口请求异常：' + err);
      })
    },
    // 用户下单
    onSubmit (e) {
      if (this.form.activtiy) {
        let form = this.form
        let params = {
          Name: form.username,
          Tel: form.phone,
          Amount: parseInt(this.amount),
          Teacher: form.teacher,
          Campus: this.campus,
          GroupGuid: this.groupGuid === undefined ? "" : this.groupGuid,
          GroupNumber: this.groupNum,
          openid: this.code
        }
        payOrder(params).then(res => {
          if (res.data.code === '0000') {
            Toast(res.data.message);
            let data = res.data.data;
            this.getGuaQiLog();

            // if (data.viptype === 1) { // 会员
            this.$router.push({
              path: '/success',
              query: {
                groupGuid: data.groupGuid
              }
            })
            // } else { // 非会员
            //   this.$router.push('/')
            // }
          } else {
            Toast(res.data.message);
          }
        }).catch(err => {
          Toast('接口请求异常：' + err)
        })
      } else {
        Toast('请选择活动套餐');
      }
    },
    // 判断用户身份
    verifyIdentity () {
      // 1.会员->下单(判断用户是否购买过此活动，若已参与过则不能二次购买)
      // 2.非会员->判断受邀标识id是否有值->（有值即可下单/值为空则不能下单）
      let form = this.form
      if (form.phone) {
        getGroupKey({
          Tel: form.phone
        }).then(res => {
          if (res.data.code === '0000') {
            let data = res.data.data;
            // this.groupNum = data.groupNumber;
            this.isShow = data.viptype === 1 ? true : false;

            if ((!this.groupGuid && data.viptype === 0) ||
              (this.groupGuid && data.viptype === 1)) {
              this.isDisabled = true;

              if (data.viptype === 0) {
                Toast('抱歉！非会员暂无开团权限');
              } else {
                Dialog({
                  title: '提示',
                  message:
                    '当前用户身份为会员，不满足参团规则，是否单独开团？',
                  showCancelButton: true
                }).then(() => {
                  this.$router.push('/')
                }).catch(() => {
                  // on cancel
                });
              }

            } else if ((!this.groupGuid && data.viptype === 1) ||
              (this.groupGuid && data.viptype === 0)) {
              this.isDisabled = false;
            }

          } else {
            if (this.groupGuid) {
              this.isDisabled = false;
              this.isShow = false;
            } else {
              Toast(res.data.message);
              this.isDisabled = true;
            }
          }
        }).catch(err => {
          Toast('接口请求异常：' + err);
        })
      }
    },
    // 选择套餐
    handleClick (data) {
      this.form.activtiy = data.id;
      this.selectedVal = data.content;
      this.amount = data.amount;
      this.groupNum = data.num;
    },
    // 初始化微信js-api
    pay (payData) {
      wx.config({
        debug: true,
        appId: payData.appId, // 必填，公众号的唯一标识
        timestamp: payData.timeStamp, // 必填，生成签名的时间戳
        nonceStr: payData.nonceStr, // 必填，生成签名的随机串
        package: payData.package,
        signType: payData.signType,
        paySign: payData.paySign, // 必填，签名
        jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表
      })

      wx.ready(() => {
        wx.checkJsApi({
          jsApiList: ['chooseWXPay'],
          success: function (res) {
            console.log("seccess")
            console.log('支付的调取', res)
          },

          fail: function (res) {
            console.log("fail");
            console.log(res)          }
        })

        wx.chooseWXPay({ // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
          appId: payData.appId,
          timestamp: payData.timeStamp, // 必填，生成签名的时间戳
          nonceStr: payData.nonceStr, // 必填，生成签名的随机串
          package: payData.package,
          signType: payData.signType,
          paySign: payData.paySign, // 必填，签名
          success: function (res) {  // 支付成功后的回调函数
            // alert('支付成功的信息'+JSON.stringify(res))
            console.log('支付成功' + res)
          },
          fail: function (reg) {
            console.log('支付失败' + res)
            // alert('支付失败的信息' +JSON.stringify(reg))
          }
        })
      })

      wx.error(err => {
        alert(err)
      })

    },
    // 返回
    onClickLeft () {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
.active {
  background-color: red;
  color: #ffffff;
}
.van-button {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 28px;
}
</style>
