<template>
  <div class="container">
    <van-row>
      <van-col span="8"></van-col>
      <van-col span="8"></van-col>
      <van-col span="8">
        <div class="logo">
          <img src="@/assets/image/logo.png">
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="6"></van-col>
      <van-col span="12">
        <div style="margin-bottom: 15px;">
          <img src="@/assets/image/title.png">
        </div>
      </van-col>
      <van-col span="6"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="card">
          <div class="_box">
            <van-row>
              <van-col span="1"></van-col>
              <van-col span="22">
                <div style="width:235px;margin-bottom:10px;">
                  <img src="@/assets/image/shizililiang.png">
                </div>
              </van-col>
              <van-col span="1"></van-col>
            </van-row>
            <div class="_favorable_comment">
              <van-row>
                <van-col span="4">
                  <div>
                    <img src="@/assets/image/haoping.png" style="width: 60%;">
                  </div>
                </van-col>
                <van-col span="19">
                  <div class="_alignment">
                    <img src="@/assets/image/jiazhanghaoping_img.jpg">
                  </div>
                </van-col>
                <van-col span="1"></van-col>
              </van-row>
            </div>
            <hr>
            <div class="_favorable_comment">
              <van-row>
                <van-col span="4">
                  <div class="_alignment">
                    <img src="@/assets/image/jiaoxuefengcai.png" style="width: 80%;">
                  </div>
                </van-col>
                <van-col span="19">
                  <div class="_alignment">
                    <img src="@/assets/image/jiaoxuefengcai_img.png">
                  </div>
                </van-col>
                <van-col span="1"></van-col>
              </van-row>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
} from 'vant';

export default {
  name: 'CourseBenefits',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
  }
}
</script>

<style lang='scss' scoped>
._box {
  padding: 40px 0;
}
hr {
  margin: 30px;
}
._favorable_comment {
  height: 400px;
  .van-row,
  ._alignment,
  img {
    height: 100%;
  }
}
</style>