<template>
  <div class="container">
    <van-row>
      <van-col span="5"></van-col>
      <van-col span="14">
        <div class="title">
          <img src="@/assets/image/sign_up_gift_give.png">
        </div>
      </van-col>
      <van-col span="5"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="card">
          <div class="_box">
            <van-row>
              <van-col span="24">
                <div class="tag">
                  <img src="@/assets/image/course_benefits.png">
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="4"></van-col>
              <van-col span="16">
                <div>（本次组队2人即可组队成功）</div>
                <div>
                  <img src="@/assets/image/team_up_two_people.png">
                </div>
              </van-col>
              <van-col span="4"></van-col>
            </van-row>
            <van-row>
              <van-col span="4"></van-col>
              <van-col span="16">
                <div>
                  每人可得任选一科2节正式课+后期报
                  名再送2节乐高+2节HABA逻辑思维
                </div>
              </van-col>
              <van-col span="4"></van-col>
            </van-row>
          </div>
          <div class="_box" style="padding-top:20px; border-top: 4px dashed #999696;">
            <van-row>
              <van-col span="4"></van-col>
              <van-col span="16">
                <div>
                  <img src="@/assets/image/team_up_three_people.png">
                </div>
              </van-col>
              <van-col span="4"></van-col>
            </van-row>
            <van-row>
              <van-col span="4"></van-col>
              <van-col span="16">
                <div>
                  每人可得任选一科2节正式课+后期报
                  名再送4节乐高+4节HABA逻辑思维
                </div>
              </van-col>
              <van-col span="4"></van-col>
            </van-row>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
} from 'vant';

export default {
  name: 'CourseBenefits',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
  }
}
</script>