<template>
  <div class="container">
    <van-row>
      <van-col span="5"></van-col>
      <van-col span="14">
        <div class="title">
          <img src="@/assets/image/sign_up_gift_give.png">
        </div>
      </van-col>
      <van-col span="5"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="card">
          <div class="_box">
            <van-row>
              <van-col span="24">
                <div class="tag">
                  <img src="@/assets/image/gift_benefits.png">
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="4"></van-col>
              <van-col span="16">
                <div>
                  <img src="@/assets/image/UAV.png">
                </div>
              </van-col>
              <van-col span="4"></van-col>
            </van-row>
            <van-row>
              <van-col span="10"></van-col>
              <!-- <van-col span="2"></van-col> -->
              <van-col span="14">
                <div style="width:80%">
                  <img src="@/assets/image/building_block.png">
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="2"></van-col>
              <van-col span="20">
                <div style="text-align: left;">
                  <p>①&nbsp;&nbsp;一位团员报名成功，团长可额外获得价值99元积木一套</p>
                  <p>②&nbsp;&nbsp;两位团员报名成功，团长可额外获得价值199的无人机</p>
                </div>
              </van-col>
              <van-col span="2"></van-col>
            </van-row>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
} from 'vant';

export default {
  name: 'CourseBenefits',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
  }
}
</script>

<style>
p {
  font-weight: 400;
}
</style>
