<template>
  <div class="container">
    <van-row>
      <van-col span="8"></van-col>
      <van-col span="8"></van-col>
      <van-col span="8">
        <div class="logo">
          <img src="@/assets/image/logo.png">
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="2"></van-col>
      <van-col span="20">
        <div class="title" style="margin-top: 35px;">
          <img src="@/assets/image/title.png">
        </div>
      </van-col>
      <van-col span="2"></van-col>
    </van-row>
    <van-row>
      <van-col span="5"></van-col>
      <van-col span="14">
        <div>
          <img src="@/assets/image/child_title.png">
        </div>
      </van-col>
      <van-col span="5"></van-col>
    </van-row>
    <van-row>
      <van-col span="4"></van-col>
      <van-col span="16">
        <div>
          <img src="@/assets/image/price_spike.png">
        </div>
      </van-col>
      <van-col span="4"></van-col>
    </van-row>
    <van-row>
      <van-col span="4"></van-col>
      <van-col span="16">
        <div>
          <img src="@/assets/image/highest_course.png">
        </div>
      </van-col>
      <van-col span="4"></van-col>
    </van-row>
    <van-row>
      <van-col span="1"></van-col>
      <van-col span="22">
        <div>
          <img src="@/assets/image/curriculum_value.png">
        </div>
      </van-col>
      <van-col span="1"></van-col>
    </van-row>
    <van-row>
      <van-col span="3"></van-col>
      <van-col span="18">
        <div>
          <img src="@/assets/image/activity_time.png">
        </div>
      </van-col>
      <van-col span="3"></van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
} from 'vant';

export default {
  name: 'Home',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
  }
}
</script>

<style lang='scss' scoped>
.container {
  background: url("@/assets/image/bg.jpg") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
</style>

