<template>
  <div>
    <van-swipe>
      <van-swipe-item>
        <Home/>
      </van-swipe-item>
      <van-swipe-item>
        <CourseBenefits/>
      </van-swipe-item>
      <van-swipe-item>
        <GiftBenefits/>
      </van-swipe-item>
      <van-swipe-item>
        <ActivityRule/>
      </van-swipe-item>
      <van-swipe-item>
        <CompanyProfile/>
      </van-swipe-item>
      <van-swipe-item>
        <TeachingServices/>
      </van-swipe-item>
      <van-swipe-item>
        <Participants/>
      </van-swipe-item>
      <template #indicator="{ active, total }">
        <div class="custom-indicator">{{ active + 1 }}/{{ total }}</div>
      </template>
    </van-swipe>
    <Footer/>

    <div class="counsel-phone" @click="isShow = true">
      <span>
        <van-icon name="phone-o"/>
      </span>
      <span>
        <a :href="'tel:' + phone">咨询电话</a>
      </span>
    </div>
  </div>
</template>

<script>
import { Swipe, SwipeItem, Icon } from 'vant';
import Home from './home';
import CourseBenefits from './courseBenefits';
import GiftBenefits from './giftBenefits';
import ActivityRule from './activityRule';
import CompanyProfile from './companyProfile';
import TeachingServices from './teachingServices';
import Participants from './participants';
import Footer from './layout/footer';

export default {
  components: {
    [Swipe.name]: Swipe,
    [SwipeItem.name]: SwipeItem,
    [Icon.name]: Icon,
    Home,
    CourseBenefits,
    GiftBenefits,
    ActivityRule,
    CompanyProfile,
    TeachingServices,
    Participants,
    Footer
  },
  data () {
    return {
      active: 0,
      total: 0,
      isShow: false,
      phone: 15972047645
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-indicator {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px 5px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.1);
}
.counsel-phone {
  width: 200px;
  line-height: 70px;
  color: #fff;
  font-size: 28px;
  position: fixed;
  right: 0;
  bottom: 450px;
  background-color: rgba(0, 0, 0, 0.795);
  span {
    display: inline-block;
    margin: 0 5px;
  }
}
.van-icon-phone-o:before {
  font-size: 42px;
  vertical-align: middle;
}
a {
  color: #ffffff;
}
</style>

