<template>
  <div class="container">
    <van-row>
      <van-col span="8"></van-col>
      <van-col span="8"></van-col>
      <van-col span="8">
        <div class="logo">
          <img src="@/assets/image/logo.png">
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="4"></van-col>
      <van-col span="16">
        <div style="margin-top:40px;">
          <img src="@/assets/image/price_spike.png">
        </div>
      </van-col>
      <van-col span="4"></van-col>
    </van-row>
    <van-row>
      <van-col span="4"></van-col>
      <van-col span="16">
        <div>
          <img src="@/assets/image/highest_course.png">
        </div>
      </van-col>
      <van-col span="4"></van-col>
    </van-row>
    <van-row>
      <van-col span="1"></van-col>
      <van-col span="22">
        <div style="margin-bottom: 10px;">
          <img src="@/assets/image/curriculum_value.png">
        </div>
      </van-col>
      <van-col span="1"></van-col>
    </van-row>
    <!-- 通知公告 -->
    <van-row>
      <van-col span="24">
        <!-- 文字较短时，通过设置 scrollable 属性开启滚动播放 -->
        <van-notice-bar scrollable :text="text"/>
      </van-col>
    </van-row>
    <!-- 当前参与人数/浏览人数 -->
    <van-row class="second-bar">
      <van-col span="12" class="_left">
        当前参与活动人数[
        <span>{{activityNum}}</span>]人
      </van-col>
      <van-col span="12" class="_right">
        <span>{{visitorNum}}</span>人浏览
      </van-col>
    </van-row>
    <!-- 活动参与人数 -->
    <van-row>
      <van-col span="24">
        <div style="background-color: #f9dc40; color:#efeef3;">
          <h2>
            已有
            <span
              class="_num"
              v-for="(item,index) in formatterNum(activityNum)"
              :key="index"
            >{{item}}</span>
            人参加活动
          </h2>
        </div>
      </van-col>
    </van-row>
    <!-- 参与用户 -->
    <van-row>
      <van-col span="24" class="content-list">
        <vue3-seamless-scroll :list="notifyList" :class-option="optionHover" class="seamless-warp">
          <ul class="tr-cont">
            <li v-for="item in notifyList" :key="item.noticeTime">
              <div class="user-list" v-for="item in notifyList" :key="item.noticeTime">
                <div class="_img">
                  <van-icon name="manager"/>
                </div>
                <div class="_name">{{ item.noticeContent }}</div>
              </div>
            </li>
          </ul>
        </vue3-seamless-scroll>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
  Icon,
  NoticeBar,
  Toast
} from 'vant';
import { Vue3SeamlessScroll } from 'vue3-seamless-scroll';
import { getGuaQiLog } from '@/api/user';

export default {
  name: 'HomeView',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
    [Icon.name]: Icon,
    [NoticeBar.name]: NoticeBar,
    Vue3SeamlessScroll
  },
  computed: {
    optionHover () {
      return {
        step: 0.2, // 数值越大速度滚动越快
        limitMoveNum: 2, // 开始无缝滚动的数据量 this.dataList.length
        hoverStop: true, // 是否开启鼠标悬停stop
        direction: 1, // 0向下 1向上 2向左 3向右
        openWatch: true, // 开启数据实时监控刷新dom
        singleHeight: 0, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 1000, // 单步运动停止的时间(默认值1000ms)
      };
    }
  },
  data () {
    return {
      activityNum: 0, // 活动人数
      visitorNum: 0, // 浏览人数
      text: '呱奇教育两周年感恩家长答谢会199元组队秒杀最高12节课价值2800元精品课程',
      classOption: {
        limitMoveNum: 2,
        direction: 2,
        step: 0.8 // 滚动速度
      },
      notifyList: [
        {
          id: 1,
          noticeContent: '张三',
          noticeTime: new Date()
        },
        {
          id: 2,
          noticeContent: '李四',
          noticeTime: new Date()
        },
        {
          id: 3,
          noticeContent: '张大胖',
          noticeTime: new Date()
        },
        {
          id: 4,
          noticeContent: '王五',
          noticeTime: new Date()
        },
        {
          id: 5,
          noticeContent: '赵六',
          noticeTime: new Date()
        },
        {
          id: 6,
          noticeContent: 'A124168686868767@',
          noticeTime: new Date()
        },
        {
          id: 7,
          noticeContent: '%8hq.',
          noticeTime: new Date()
        },
        {
          id: 8,
          noticeContent: 'ccc',
          noticeTime: new Date()
        },
        {
          id: 9,
          noticeContent: 'ew',
          noticeTime: new Date()
        },
        {
          id: 10,
          noticeContent: '525bhd',
          noticeTime: new Date()
        },
        {
          id: 11,
          noticeContent: 'test',
          noticeTime: new Date()
        },
        {
          id: 12,
          noticeContent: '你快放手',
          noticeTime: new Date()
        },
        {
          id: 13,
          noticeContent: 'fsdf',
          noticeTime: new Date()
        },
        {
          id: 14,
          noticeContent: '咕咕咕',
          noticeTime: new Date()
        },
        {
          id: 15,
          noticeContent: '嘎嘎嘎',
          noticeTime: new Date()
        },
        {
          id: 16,
          noticeContent: '哈哈哈',
          noticeTime: new Date()
        },
        {
          id: 17,
          noticeContent: '哦发',
          noticeTime: new Date()
        },
        {
          id: 18,
          noticeContent: 'test',
          noticeTime: new Date()
        },
        {
          id: 19,
          noticeContent: 'fw52',
          noticeTime: new Date()
        },
        {
          id: 20,
          noticeContent: '方视3',
          noticeTime: new Date()
        }
      ],
      baseURL: process.env.VUE_APP_API_BASE_URL,
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    // 获取活动参与人数/浏览量
    getGuaQiLog () {
      getGuaQiLog({
        Number: 0
      }).then(res => {
        if (res.data.code === '0000') {
          let data = res.data.data;
          this.visitorNum = data.pageView;
          this.activityNum = data.number;
        } else {
          Toast(res.data.message);
        }
      }).catch(err => {
        Toast('接口请求异常：' + err);
      })
    },
    formatterNum (activityNum) {
      let num = activityNum.toString()
      return num
    },
    // 手机号脱敏
    phoneNumbe (val) {
      return val.substr(0, 3) + '****' + val.substring(7);
    },
    // 姓名脱敏
    acturalname (val) {
      if (val.length == 2) {
        return val.substring(0, 1) + '*';
      } else if (val.length == 3) {
        return val.substring(0, 1) + '*' + val.substring(2, 3);
      } else if (val.length > 3) {
        return (
          val.substring(0, 1) + '*' + '*' + val.substring(3, val.length)
        );
      }
    },
    // 初始化数据
    initData () {
      this.getGuaQiLog();
      this.notifyList.forEach(el => {
        el.noticeContent = this.acturalname(el.noticeContent)
      });
    }
  }
}
</script>

<style scoped>
.container {
  color: #fff8f9;
}
</style>

