<template>
  <div class="container">
    <van-row>
      <van-col span="8"></van-col>
      <van-col span="8"></van-col>
      <van-col span="8">
        <div class="logo">
          <img src="@/assets/image/logo.png">
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="5"></van-col>
      <van-col span="14">
        <div class="title" style="margin-top: 20px;">
          <img src="@/assets/image/title.png">
        </div>
      </van-col>
      <van-col span="5"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="card" style="min-height: calc(100vh - 480px); margin-bottom: 40px;">
          <div class="_box">
            <van-row>
              <van-col span="24">
                <div class="tag">
                  <img src="@/assets/image/luck_user.png">
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="24">
                <div class="user-avatar" id="userAvatars">
                  <!-- <div v-for="(item,index) in list" :key="index"> -->

                  <!-- <div
                      class="_label"
                      v-if="item.name && item.name !== ''"
                      :style="{'background': `url(${require(`@/assets/image/${item.img}.png`)}) no-repeat`,'background-size': `100% 100%`}"
                    >
                      <img src="@/assets/image/avatar_label.png" class="user_img">
                  </div>-->

                  <ul>
                    <li
                      :class="(index + 1) === 4 ? 'add_margin' : ''"
                      v-for="(item,index) in list"
                      :key="index"
                    >
                      <div class="_label">
                        <div class="user_img">{{acturalname(item.name)}}</div>
                      </div>
                      <div>{{acturalname(item.name)}}</div>
                    </li>
                  </ul>

                  <!-- <div class="_label">
                      <div class="user_img">{{acturalname(item.name)}}</div>
                    </div>
                    <div>{{acturalname(item.name)}}</div>
                  </div>-->
                </div>
              </van-col>
            </van-row>
          </div>
          <!-- <p class="remark">成团规则：保存以上二维码至相册，发送给好友邀请好友扫码进入活动页参与拼团即可。</p> -->
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="12"></van-col>
      <van-col span="12" style="padding:20px;">
        <div id="canvas">
          <div class="item-pic" id="qrinvitecode"></div>
        </div>
        <p @click="toSave">长按二维码保存至相册</p>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
  Icon,
  Button,
  CountDown,
  Toast
} from 'vant';
import QRCode from 'qrcodejs2';
import html2canvas from "html2canvas";
import { formatDate, createCode } from '@/utils/validate';
import { getGroupList } from '@/api/user.js';

export default {
  name: 'CourseBenefits',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
    [Icon.name]: Icon,
    [Button.name]: Button,
    [CountDown.name]: CountDown
  },
  data () {
    return {
      groupNum: 3, // 组团数量
      groupType: 0, // 是否成团 0.不是 1.是
      code: null,
      timer: null,
      list: [
        {
          name: '',
        }, {
          name: ''
        }, {
          name: ''
        }
      ]
    }
  },
  mounted () {
    this.code = sessionStorage.getItem('code');
    if (!this.code) {
      // 路由至首页重新授权
      this.$router.push('/');
    } else {
      let query = this.$route.query;
      this.getQRCode(query.groupGuid);
      this.getGroupList();
    }
    this.timer = setInterval(this.getGroupList, 5000);
  },
  methods: {
    // 获取参团成员信息
    getGroupList () {
      getGroupList({
        code: this.code
      }).then(res => {
        if (res.data.code === '9999') {
          this.list = res.data.data;
          this.groupNum = res.data.groupNumber;
          this.groupType = res.data.groupType;

          let param = {
            name: ''
          }
          let num = this.groupNum - this.list.length
          if (num < this.groupNum) {
            for (let i = 0; i < num; i++) {
              this.list.push(param);
            }
          }
        }
      }).catch(err => {
        Toast('接口请求异常：' + err)
      })
    },
    // 姓名脱敏
    acturalname (val) {
      if (val.length == 2) {
        return val.substring(0, 1) + '*';
      } else if (val.length == 3) {
        return val.substring(0, 1) + '*' + val.substring(2, 3);
      } else if (val.length > 3) {
        return (
          val.substring(0, 1) + '*' + '*' + val.substring(3, val.length)
        );
      }
    },
    // 保存图片
    toSave () {
      const candom = document.getElementById("activity")
      html2canvas(candom).then((canvas) => {
        let saveUrl = canvas.toDataURL("image/png");    //将图片元素转成base64图片
        let aLink = document.createElement("a");
        let blob = this.base64ToBlob(saveUrl);    //将base64转成blob流
        let evt = document.createEvent("HTMLEvents");
        evt.initEvent("click", true, true);
        aLink.download = "二维码.jpg";
        aLink.href = URL.createObjectURL(blob);  //转成下载链接
        aLink.click();
        if (aLink.href) {
          Toast('保存成功')
        }
      });
    },
    // 图片转base64
    base64ToBlob (code) {
      let parts = code.split(";base64,");
      let contentType = parts[0].split(":")[1];
      let raw = window.atob(parts[1]);
      let rawLength = raw.length;
      let uInt8Array = new Uint8Array(rawLength);
      for (let i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
      }
      return new Blob([uInt8Array], { type: contentType });
    },
    // 生成二维码
    getQRCode (key) {
      let url = 'https://lsg-plus.com/kx-campus/product?key=' + key;
      new QRCode('qrinvitecode', {
        width: 120,  //宽度
        height: 120, // 高度
        text: url, // 需要生成二维码的链接
        render: 'canvas',// 设置渲染方式（有两种方式 table和canvas，默认是canvas）  
      })
    },
    // 返回
    goBack () {
      this.$router.push('/');
    }
  },
  beforeDestroy () {
    if (this.timer) {
      clearInterval(this.timer);
    }
  }
}
</script>

<style lang='scss' scoped>
.container {
  background: url("@/assets/image/bg.jpg") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.item-pic {
  border: 15px solid #ffffff;
}
._label {
  width: 130px;
  height: 130px;
  margin: 15px;
  border-radius: 50%;
  background: url("@/assets/image/avatar_label.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 20px;
  padding-left: 17px;
}
.user_img {
  width: 95px;
  height: 95px;
  line-height: 95px;
  border-radius: 50%;
  background-color: #ffe4b5;
  overflow: hidden;
  color: #696969;
  font-weight: 800;
  font-size: 36px;
}
.remark {
  font-size: 12px;
  text-align: left;
  color: red;
  margin: 20px;
  margin-top: 50px;
}
p {
  color: #ffffff;
  font-size: 14px;
}
ul {
  width: 72%;
  li {
    float: left;
    width: 160px;
    height: 200px;
  }
}
.add_margin {
  margin-left: 80px;
}
</style>

<style>
.header {
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.user-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* margin: 0 10px; */
}

.countdown {
  text-align: center;
  font-size: 24px;
}
</style>