@import './product.scss';
@import './success.scss';
@import './participants.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  // display: none;
}

/*滚动条里面小方块*/
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.15);
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  height: 100vh;
  font-size: 28px;
  color: #323233;
  font-weight: 400;
  overflow: scroll;
}

.container {
  background: url('@/assets/image/bg.png') no-repeat;
  background-size: 100% 100%;
  // background-attachment: fixed;
  .logo {
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .title {
    margin-top: 90px;
  }
  .card {
    width: 90%;
    min-height: calc(100vh - 600px);
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 280px;
    background-color: #ffffff;
    ._box {
      padding-bottom: 40px;
    }
    .tag {
      width: 220px;
      margin-top: 30px;
      img {
        margin-left: -60px;
      }
    }
  }
}

img {
  width: 100%;
}
