<template>
  <div class="footer">
    <!-- 报名入口 -->
    <van-tabbar>
      <van-tabbar-item @click="handleClick()" icon>我要做团长</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
import {
  Tabbar,
  TabbarItem,
  Dialog
} from 'vant';
import wx from 'weixin-js-sdk';
import { getGroupList } from '@/api/user'

export default {
  name: 'Footer',
  components: {
    [Tabbar.name]: Tabbar,
    [TabbarItem.name]: TabbarItem
  },
  computed: {
    validate () {
      let date = new Date()
      if (date.getFullYear() > 2023) {
        return false
      } else if (date.getMonth() + 1 > 8) {
        return false
      } else {
        return true
      }
    }
  },
  data () {
    return {
      appid: "wxb7b46a99e37ed850", // appid
      redirect: encodeURIComponent(window.location.href), //重定向回来的地址
    }
  },
  watch: {
    $route: { // 监听路由获取回调地址栏中的code
      immediate: true,
      handler () {
        const query = this.$route.query
        if (query.code) {
          sessionStorage.setItem('code', query.code);
          this.getOpenId(query.code);
          this.$router.push('/product');
        }
      }
    }
  },
  methods: {
    // 判断用户是否参团
    getGroupList () {
      getGroupList({
        code: sessionStorage.getItem('code')
      }).then(res => {
        if (res.data.code === '9999') {
          return true;
        }
        return false;
      }).catch(err => {
        Toast('接口请求异常：' + err)
      })
      return false;
    },
    // 点击我要做团长
    handleClick () {
      let flag = this.validate
      // 判断活动是否结束 未结束则让用户进行微信授权获取code信息 已授权则直接进入活动下单页 (需求变更 暂时去掉微信授权支付业务)
      if (flag) {
        let code = sessionStorage.getItem('code')
        if (!code) {
          this.getCode();
        } else {
          // this.getOpenId(code);
          // 调用接口判断用户是否已参团
          if (this.getGroupList()) {
            this.$router.push('/success');
          } else {
            this.$router.push('/product');
          }
        }
      } else {
        Dialog({
          title: '提示',
          message: '本次活动已经结束了！',
        }).then(() => {
          // on close
        });
      }
    },
    // 获取code
    getCode () {
      window.location.href = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${this.appid}&redirect_uri=${this.redirect}&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect`;
    },
    // 获取openid
    getOpenId (code) {
      //这里调用后端给的接口吧code传过去就好了
    }
  }
}
</script>

<style lang='scss' scoped>
.van-tabbar-item {
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
  border-color: #fcaf08;
  background-color: #fcaf08;
}
.van-tabbar--fixed {
  height: 140px;
}
</style>

