.user-list {
  width: 140px;
  height: 140px;
  float: left;
  margin: 4px;
  margin-bottom: 20px;
  text-align: center;
  ._img {
    width: 110px;
    height: 110px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
  }
  ._name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.seamless-warp {
  margin-top: 10px;
  height: 95%;
  overflow: hidden;
}
.tr-cont {
  &:hover {
    background-color: rgba($color: #03487b, $alpha: 0.5) !important;
  }
}
.content-list {
  width: 100%;
  height: 660px;
  padding: 10px 0 0 5px;
  background-color: #595959;
}
._num {
  display: inline-block;
  width: 60px;
  margin: 0 10px;
  color: #f9dc40;
  border-radius: 10px;
  background-color: #000000;
}
h2 {
  margin: 0;
  padding: 10px 0;
  line-height: 80px;
  color: #000000;
}
._left {
  text-align: left;
}
._right {
  text-align: right;
}
.second-bar {
  padding: 0 10px;
  line-height: 80px;
  background-color: #e64442;
  span {
    color: #fadc4a;
  }
}
.van-icon-manager:before {
  content: '\e6e0';
  color: #bdbdbd;
  font-size: 80px;
  line-height: 140px;
}
