.invitation {
  .content {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: #ffffff;
  }
  ._user {
    width: 120px;
    height: 120px;
    margin: 40px 10px;
    border-radius: 50%;
    display: inline-block;
    border: 1px dashed #dcdcdc;
  }
  .van-icon {
    font-size: 50px;
    color: #dcdcdc;
    line-height: 120px;
  }
  #canvas {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .van-button {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
